{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">

        Shop
      </a>
    </nav>
<body>
<!--{% for product in products%}-->
<!--<h2><a href="{% url 'details' product.id %}">{{ product.name}}</a></h2>-->
<!--{% endfor %}-->
<ul class="list-group">
  <li class="list-group-item active">Product List</li>
    {% for product in products%}
  <li class="list-group-item" ><a href="{% url 'details' product.id %}">{{ product.name}}</a></li>
    {% endfor %}

</ul>




</body>
</html>